# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/
frontend/node_modules

# Tests
curl_tests/
skopidom_file_structure.txt

# Go workspace file
go.work
go.work.sum

# Dev storage
backend/uploads/

# env file
.env

# Editor/IDE
.idea/
.vscode/
