DATABASE_URL="postgres://skopidom:secret@localhost:5432/skopidom?sslmode=disable"
JWT_SECRET=supersecretkey-change-in-prod
JWT_TTL="24h"
SERVER_PORT=8080
STORAGE_DIR="./uploads"
STORAGE_BASE_URL="http://localhost:8080/static"
MIGRATIONS_PATH=internal/infrastructure/postgres/migrations
